{% load crispy_forms_tags %}

<div class="card mb-4">
    <form hx-post="/myfinance/add_group/"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-target="#groups">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h6 class="mb-0">Add Group</h6>
          </div>
<!--          <div class="col-4 text-end">-->
<!--            <button type="submit" class="btn btn-sm bg-gradient-primary mb-0">-->
<!--              Search-->
<!--            </button>-->
<!--          </div>-->
        </div>
      </div>
          <div class="row g-4">
            <div class="col-sm-4">
              <label for="name" class="form-label">Name</label>
              <input type="text" name="name" class="form-control" id="name" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid name is required.
              </div>
            </div>

            <div class="col-sm-5">
              <label for="comments" class="form-label">Comments</label>
              <input type="text" name="comments" class="form-control" id="comments" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid comments is required.
              </div>
            </div>
            <div class="col-sm-5">
                {% if message %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% endif %}
            </div>
        </div>
        <div class="row g-4 pt-4">
          <div class="col-sm-3">
            <button class="btn btn-icon btn-3 btn-primary" type="submit" name="button-add" id="button-add">
              <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
              <span class="btn-inner--text">Add Group</span>
            </button>
          </div>
        </div>
    </form>
  </section>
    </div>
</div>
