{% extends "base.html" %}
{% load i18n %}
{% load static i18n %}

{% block content %}

<header class="">
  <div class="page-header min-vh-100">
      <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
          <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(https://demos.creative-tim.com/soft-ui-design-system/assets/img/curved-images/curved11.jpg)"></div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                  <h1 class="text-gradient text-primary">Your Work With</h1>
                  <h1 class="mb-4">Soft Design System</h1>
                  <p class="lead pe-5 me-5">The time is now for it be okay to be great. People in this world shun people for being nice. </p>
                  <div class="buttons">
                      <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                      <button type="button" class="btn text-primary shadow-none mt-4">Read more</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h3 class="text-gradient text-primary mb-0 mt-2">Read More About Us</h3>
              <h3>The most important</h3>
              <p>Pain is what we go through as we become older. We get insulted by others, lose trust for those others. We get back stabbed by friends. It becomes harder for us to give others a hand.</p>
              <a href="javascript:;" class="text-primary icon-move-right">More about us
                  <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
              </a>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
              <div class="p-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                      <i class="fas fa-ship opacity-10" aria-hidden="true"></i>
                  </div>
                  <div class="description ps-3">
                      <p class="mb-0">It becomes harder for us to give others a hand. <br> We get our heart broken by people we love.</p>
                  </div>
              </div>

              <div class="p-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                      <i class="fas fa-handshake opacity-10" aria-hidden="true"></i>
                  </div>
                  <div class="description ps-3">
                      <p class="mb-0">As we live, our hearts turn colder. <br>Cause pain is what we go through as we become older.</p>
                  </div>
              </div>
              <div class="p-3 info-horizontal">
                  <div class="icon icon-shape rounded-circle bg-gradient-primary shadow text-center">
                      <i class="fas fa-hourglass opacity-10" aria-hidden="true"></i>
                  </div>
                  <div class="description ps-3">
                      <p class="mb-0">When we lose family over time. <br> What else could rust the heart more over time? Blackgold.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="py-4">
  <div class="container">
      <div class="row my-5">
          <div class="col-md-6 mx-auto text-center">
              <h2>Frequently Asked Questions</h2>
              <p>A lot of people don't appreciate the moment until it’s passed. I'm not trying my hardest, and I'm not trying to do </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-10 mx-auto">
              <div class="accordion" id="accordionRental">
                  <div class="accordion-item mb-3">
                      <h5 class="accordion-header" id="headingOne">
                          <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              How do I order?
                              <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                              <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                          </button>
                      </h5>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-dark text-sm opacity-8">
                              We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game
                              of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item mb-3">
                      <h5 class="accordion-header" id="headingTwo">
                          <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              How can i make the payment?
                              <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                              <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                          </button>
                      </h5>
                      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-dark text-sm opacity-8">
                              It really matters and then like it really doesn’t matter. What matters is the people who are sparked by it. And the people who are like offended by it, it doesn’t matter. Because it's about motivating the doers. Because I’m here to follow my dreams and inspire other people to follow their dreams, too.
                              <br>
                              We’re not always in the position that we want to be at. We’re constantly growing. We’re constantly making mistakes. We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item mb-3">
                      <h5 class="accordion-header" id="headingThree">
                          <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              How much time does it take to receive the order?
                              <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                              <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                          </button>
                      </h5>
                      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-dark text-sm opacity-8">
                              The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. For standing out. But the time is now to be okay to be the greatest you. Would you believe in what you believe in, if you were the only one who believed it?
                              If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item mb-3">
                      <h5 class="accordion-header" id="headingFour">
                          <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Can I resell the products?
                              <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                              <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                          </button>
                      </h5>
                      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-dark text-sm opacity-8">
                              I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                              <br><br>
                              If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration. People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest, and I'm not trying to do the best way I know how.
                          </div>
                      </div>
                  </div>
                  <div class="accordion-item mb-3">
                      <h5 class="accordion-header" id="headingFifth">
                          <button class="accordion-button border-bottom font-weight-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifth" aria-expanded="false" aria-controls="collapseFifth">
                              Where do I find the shipping details?
                              <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                              <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                          </button>
                      </h5>
                      <div id="collapseFifth" class="accordion-collapse collapse" aria-labelledby="headingFifth" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-dark text-sm opacity-8">
                              There’s nothing I really wanted to do in life that I wasn’t able to get good at. That’s my skill. I’m not really specifically talented at anything except for the ability to learn. That’s what I do. That’s what I’m here for. Don’t be afraid to be wrong because you can’t learn anything from a compliment.
                              I always felt like I could do anything. That’s the main thing people are controlled by! Thoughts- their perception of themselves! They're slowed down by their perception of themselves. If you're taught you can’t do anything, you won’t do anything. I was taught I could do everything.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="py-5 bg-gray-100">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto text-center">
              <div class="card card-blog card-plain">
                  <div class="position-relative">
                      <a class="d-block blur-shadow-image">
                          <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/devices-table.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                      </a>
                  </div>
                  <div class="card-body px-0 pt-4">
                      <p class="text-gradient text-primary text-gradient font-weight-bold text-sm text-uppercase">Enterprise</p>
                      <a href="javascript:;">
                          <h4>
                              Siri brings hands-free TV to more devices
                          </h4>
                      </a>
                      <p>
                          Siri's latest trick is offering a hands-free TV viewing experience, that will allow consumers to turn on or off their television, change inputs, fast forward, rewind and more, without having to first invoke a specific skill, or even
                          press a button on their remote.
                      </p>
                      <button type="button" class="btn bg-gradient-primary mt-3">Read more</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-8 mx-auto text-center mt-5">
              <div class="card card-blog card-plain">
                  <div class="position-relative">
                      <a class="d-block blur-shadow-image">
                          <img src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/mic.jpg" alt="img-blur-shadow" class="img-fluid shadow border-radius-lg">
                      </a>
                  </div>
                  <div class="card-body px-0 pt-4">
                      <p class="text-gradient text-warning text-gradient font-weight-bold text-sm text-uppercase">Music</p>
                      <a href="javascript:;">
                          <h4>
                              Shark Week: How to Watch It Scientist
                          </h4>
                      </a>
                      <p>
                          As Uber works through a huge amount of internal management turmoil, the company is also consolidating and rationalizing more of its international business. Today, the company announced it will be combining its rides-on-demand business
                          and UberEATS.
                      </p>
                      <button type="button" class="btn bg-gradient-warning mt-3">Read more</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mx-auto text-center">
              <h4 class="text-gradient text-primary">Join our awesome team</h4>

          </div>
      </div>
      <div class="row mt-lg-5 mt-4">
          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="card card-body">
                  <div class="row">
                      <div class="col-lg-7">
                          <h5 class="mb-2">Michael Frisen</h5>
                          <span class="badge badge-sm rounded-pill mb-3 text-dark">PHP Developer</span>
                          <br>
                          <button type="button" class="btn btn-twitter btn-simple px-2 mb-0">
                              <i class="fab fa-twitter text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                              <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-slack btn-simple px-2 mb-0">
                              <i class="fab fa-slack text-lg" aria-hidden="true"></i>
                          </button>
                      </div>
                      <div class="col-lg-5 text-end my-auto">
                          <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg">
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="card card-body">
                  <div class="row">
                      <div class="col-lg-7">
                          <h5 class="mb-2">Laurent Shaun</h5>
                          <span class="badge badge-sm rounded-pill mb-3 text-dark">Laravel Senior</span>
                          <br>
                          <button type="button" class="btn btn-facebook btn-simple px-2 mb-0">
                              <i class="fab fa-facebook-f text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                              <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-slack btn-simple px-2 mb-0">
                              <i class="fab fa-slack text-lg" aria-hidden="true"></i>
                          </button>
                      </div>
                      <div class="col-lg-5 text-end my-auto">
                          <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg">
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-sm-6 mb-4">
              <div class="card card-body">
                  <div class="row">
                      <div class="col-lg-7">
                          <h5 class="mb-2">Ramon Siente</h5>
                          <span class="badge badge-sm rounded-pill mb-3 text-dark">Vue.js Specialist</span>
                          <br>
                          <button type="button" class="btn btn-twitter btn-simple px-2 mb-0">
                              <i class="fab fa-twitter text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                              <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                          </button>
                          <button type="button" class="btn btn-github btn-simple px-2 mb-0">
                              <i class="fab fa-github text-lg" aria-hidden="true"></i>
                          </button>
                      </div>
                      <div class="col-lg-5 text-end my-auto">
                          <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ======= Contact Section ======= -->
<section id="contact" class="py-5 contact">
  <div class="container" data-aos="fade-up">
      <div class="row align-items-center">
          <div class="col-lg-8 mx-auto text-center">
              <div class="ms-3 mb-md-5">
                  <h3>Contact</h3>
                  <p>
                      For further questions, including partnership opportunities, please email contact@manascodes.com
                      or contact using our contact form.
                  </p>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="card card-plain">
                  <form id="contact-form" method="post" autocomplete="off">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-6">
                                  <label>Full Name</label>
                                  <div class="input-group mb-4">
                                      <input class="form-control" placeholder="Full Name" aria-label="Full Name" type="text">
                                  </div>
                              </div>
                              <div class="col-md-6 ps-md-2">
                                  <label>Email</label>
                                  <div class="input-group">
                                      <input type="email" class="form-control" placeholder="hello@creative-tim.com">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group mb-4 mt-md-0 mt-4">
                              <label>What can we help you?</label>
                              <textarea name="message" class="form-control" id="message" rows="6" placeholder="Describe your problem in at least 250 characters"></textarea>
                          </div>
                          <div class="row">
                              <div class="col-md-12 text-center">
                                  <button type="submit" class="btn bg-gradient-primary mt-4">Send Message</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h4 class="mb-1">Thank you for your support!</h4>
              <p class="lead mb-0">Delivering the best products</p>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
              <a href="javascript:;" class="btn btn-twitter mb-0 me-2">
                  <i class="fab fa-twitter me-1" aria-hidden="true"></i> Twitter
              </a>
              <a href="javascript:;" class="btn btn-facebook mb-0 me-2">
                  <i class="fab fa-facebook-square me-1" aria-hidden="true"></i> Facebook
              </a>
              <a href="javascript:;" class="btn btn-tumblr mb-0 me-2">
                  <i class="fab fa-tumblr me-1" aria-hidden="true"></i> Tumblr
              </a>
              <a href="javascript:;" class="btn btn-dribbble mb-0">
                  <i class="fab fa-dribbble me-1" aria-hidden="true"></i> Dribbble
              </a>
          </div>
      </div>
  </div>
</div>

{% endblock %}