<div id="transactions" class="card mb-4">
    <div class="card-header pb-0">
      <div class="row align-items-center">
        <div class="col-md-auto">
          <h6 class="mb-0">Transactions</h6>
        </div>
        <div class="col-md-auto">
          <span class="badge bg-gradient-info">Count: {{ page.paginator.count }} </span>
        </div>
        <div class="col-md-auto">
          <span class="badge bg-gradient-info">Total: {{ total }} </span>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">From</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">To</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">For</th>
                        <th class="text-secondary opacity-7"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in page.object_list %}
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm"> {{ transaction.name }} </h6>
                                    <p class="text-xs text-secondary mb-0"> {{ transaction.comments }} </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0"> {{ transaction.category }} </p>
                            <p class="text-xs text-secondary mb-0"> {{ transaction.group }} </p>
                        </td>
                        <td class="text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.type }}</span>
                        </td>
                        <td class="text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.amount }}</span>
                        </td>
                        <td class="align-middle text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.date|date:"d M Y" }}</span>
                        </td>
                        <td class="text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.paid_by }}</span>
                        </td>
                        <td class="text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.paid_to }}</span>
                        </td>
                        <td class="text-center">
                            <span class="text-secondary text-xs font-weight-bold">{{ transaction.paid_for }}</span>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'myfinance:delete-transaction' transaction.id %}" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete Transaction">
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  <section>
        <!--
          The htmx attributes set on the nav here are inherited by the child links.
          hx-target tells where htmx to swap the fetched content in, and hx-swap
          tells it how to swap it - by replacing the 'outerHTML' attribute of the
          target, i.e. replacing the target's actual DOM node. hx-push-url tells
          htmx to push the fetched URL into the browser history, so we can use
          the backwards/forwards buttons to navigate these subpages.
        -->
        <nav hx-target="#transactions" hx-swap="outerHTML" hx-push-url="true">
          <ul class="pagination justify-content-center">
            {% if page.number != 1 %}
              <li class="page-item">
                  <a hx-get="?page=1" href="?page=1" class="page-link">
                    <i class="fa fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                  <!--
                          For each link we use hx-get to tell htmx to fetch that URL and
                          swap it in. We also repeat the URL in the href attribute so the
                          page works without JavaScript, and to ensure the link is
                          displayed as clickable.
                          -->
              </li>
            {% endif %}

            {% if page.has_previous %}
            <li class="page-item">
              <a hx-get="?page={{ page.previous_page_number }}" href="?page={{ page.previous_page_number }}"
                  class="page-link">{{ page.previous_page_number }}</a>
            </li>
            {% endif %}

            <li class="page-item active">
              <a hx-get="?page={{ page.number }}" href="?page={{ page.number }}" class="page-link">{{ page.number }}</a>
            </li>

            {% if page.has_next %}
            <li class="page-item">
              <a hx-get="?page={{ page.next_page_number }}" href="?page={{ page.next_page_number }}"
                    class="page-link">{{ page.next_page_number }}</a>
            </li>
            {% endif %}

            {% if page.number != page.paginator.num_pages %}
            <li class="page-item">
              <a hx-get="?page={{ page.paginator.num_pages }}" href="?page={{ page.paginator.num_pages }}"
                    class="page-link">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
              </a>
            </li>

            {% endif %}
          </ul>
        </nav>
    </section>
  {% if getmessage %}
    <div class="col-sm-5">
        <div class="alert alert-success" role="alert">
            {{ getmessage }}
        </div>
    </div>
  {% endif %}
</div>
