{% extends "myfinance_base.html" %}
{% block main %}
    <div class="row">
      <div class="col-md-auto">
        <span>
            <h1 class="display-4 text-gradient text-primary">Transactions</h1>
        </span>
      </div>
      <div class="col-md-auto pt-4">
        <span>
            <a class="btn btn-icon-only btn-4 btn-info" type="button" href="{% url 'myfinance:add-transaction' %}">
                <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            </a>
        </span>
      </div>
    </div>
{% include 'myfinance/transaction/transaction_form.html' %}
<!-- <hr class="my-4"> -->
{% include 'myfinance/transaction/transaction_list.html' %}
{% endblock %}