{% load crispy_forms_tags %}
<div class="card mb-3 text-bg-light border border-0">
  <!-- <img src="..." class="card-img" alt="..."> -->
  <div class="card-body">
    <h4 class="card-title mb-3 h5">Search Transactions</h4>
    <form hx-get="/myfinance/transactions/" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#transactions">
      <div class="row g-4">
        <div class="col-sm-3">
          <label for="{{ transactions.form.name.id_for_label }}" class="form-label">Name</label>
          {{ transactions.form.name }}
          <div class="invalid-feedback">Valid name is required.</div>
        </div>
        <div class="col-sm-3">
          <label for="{{ transactions.form.group.id_for_label }}" class="form-label">Group</label>
          {{ transactions.form.group }}
          <div class="invalid-feedback">Valid name is required.</div>
        </div>
        <div class="col-sm-3">
          <label for="{{ transactions.form.category.id_for_label }}" class="form-label">Category</label>
          {{ transactions.form.category }}
          <div class="invalid-feedback">Valid name is required.</div>
        </div>
        <div class="col-sm-3">
          <label for="{{ transactions.form.comments.id_for_label }}" class="form-label">Comments</label>
          {{ transactions.form.comments }}
          <div class="invalid-feedback">Valid name is required.</div>
        </div>
        <div class="row g-4">
          <!-- <div class="col-sm-3">
          <label for="{{ transactions.form.date.id_for_label }}" class="form-label">Date</label>
          {{ transactions.form.date }}
          <div class="invalid-feedback">Valid name is required.</div>
        </div> -->
          <div class="col-sm-2">
            <button type="submit" class="form-control btn btn-primary">
              Search
            </button>
          </div>
        </div>
    </form>

  </div>
</div>
</div>