<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h4 class="text-gradient text-primary">Join our awesome team</h4>
            </div>
        </div>
        <div class="row mt-lg-5 mt-4">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <h5 class="mb-2">Manas Mallick</h5>
                            <span class="badge badge-sm rounded-pill mb-3 text-dark">Founder and CEO</span>
                            <br>
                            <button type="button" class="btn btn-twitter btn-simple px-2 mb-0">
                                <i class="fab fa-twitter text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                                <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-slack btn-simple px-2 mb-0">
                                <i class="fab fa-slack text-lg" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-5 text-end my-auto">
                            <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg">
                        </div>
                    </div>
                </div>
            </div>
  
            <!-- <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <h5 class="mb-2">Laurent Shaun</h5>
                            <span class="badge badge-sm rounded-pill mb-3 text-dark">Laravel Senior</span>
                            <br>
                            <button type="button" class="btn btn-facebook btn-simple px-2 mb-0">
                                <i class="fab fa-facebook-f text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                                <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-slack btn-simple px-2 mb-0">
                                <i class="fab fa-slack text-lg" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-5 text-end my-auto">
                            <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-3.jpg">
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <h5 class="mb-2">Ramon Siente</h5>
                            <span class="badge badge-sm rounded-pill mb-3 text-dark">Vue.js Specialist</span>
                            <br>
                            <button type="button" class="btn btn-twitter btn-simple px-2 mb-0">
                                <i class="fab fa-twitter text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-dribbble btn-simple px-2 mb-0">
                                <i class="fab fa-dribbble text-lg" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-github btn-simple px-2 mb-0">
                                <i class="fab fa-github text-lg" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-lg-5 text-end my-auto">
                            <img class="avatar avatar-xxl" src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg">
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </section>